#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  background-color: #1e1c1c; /* dark slate grey */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

